/TP1/nbproject/private/
/TP1/build/
/TP2/nbproject/private/
/TP2/build/
/TP3/nbproject/private/
/TP3/build/
/TP4/nbproject/private/
/TP4/build/
/TP5/nbproject/private/
/TP5/build/
/TP6/nbproject/private/
/TP6/build/
/TP7/nbproject/private/
/TP7/build/
/UTS/nbproject/private/
/UTS/build/
/UTS/dist/
/TP9/nbproject/private/
/TP9/build/
/TP8_9/nbproject/private/
/TP8_9/build/
